<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#form"> Create a post </button>
{{#if posts.length}}
  <section>
    <h2>Your Posts</h2>
    <ol>
      {{#each posts as |post|}}
      <li>
    
        {{> post-info post}}

      </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}

{{!-- modal --}}
<div class="modal fade " id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content comment-form ">
      <section>
        <form class="new-post-form background-dash">
          <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
          </div>
          <div>
            <label for="post-url">Link</label>
            <input id="post-url" name="post-url" />
          </div>
          <button type="submit" class="btn background-button text-white m-1 ">Create</button>
        </form>
      </section>
    </div>
  </div>


  
  <script src="/javascript/add-post.js"></script>





  {{!-- <section>
    <form class="new-post-form background-dash">
      <div>
        <label for="post-title">Title</label>
        <input type="text" id="post-title" name="post-title" />
      </div>
      <div>
        <label for="post-url">Link</label>
        <input id="post-url" name="post-url" />
      </div>
      <button type="submit" class="btn background-button text-white m-1 ">Create</button>
    </form>
  </section> --}}