.background {
    background-color: white;
    font-family: 'Monoton', cursive;
}
.header-title {
    text-align: center;
    font-size: 40px;
}
.navbar {
    text-align: center;
    
}
.navbar-child {
font-size: 25px;    
margin-right: 10px;
text-decoration: none;
color: orangered;
}